.timeline {
    @include section-with-border;

    display: flex;
    flex-direction: column;

    grid-column: col-start 6 / center-end;

    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-big) {
        grid-column: center-start / center-end;
        margin-bottom: 0;
    }
}

.changelogs {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    text-align: center;
    height: 100%;

    &__date,
    &__activity {
        align-content: center;
        padding: 1.25rem;
    }

    &__date {
        color: $color-secondary;
        border-right: 2px solid $color-secondary;

        & > span {
            white-space: nowrap;
            position: relative;
            
            &:first-child::after {
                content: "\00a0\2192\00a0";
                display: inline-block;
            }
        }
    }

    &__activity {
        font-size: 1.8rem;
        position: relative;

        &::before {
            content: "";
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 100%;
            background-color: $color-background;
            border: 3px solid $color-secondary;
            display: block;
            position: absolute;
            top: calc(50% - .625rem);
            left: calc(-.625rem - 4px);
        }
    }
}